.map-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.map-buttons {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    z-index: 1000;
}